@using gestion_budget.Services
@inject UserService UserService

@{
    var userName = UserService.GetUserName();
    var roleId = UserService.GetRoleId();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gestion budget</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/gestion_budget.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Gestion budget</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        
                        @if (roleId==1) {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Back-Office/Categories/lists">Categories</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-page="/Back-Office/Setting/index">Plafonds</a>
                        </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Back-Office/Alerts/lists">Alerts</a>
                            </li>
                        }
                        @if (roleId==2) {
                        <li>
                            <a class="nav-link text-dark" asp-controller="Transaction" asp-action="List">Transaction</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-controller="Budget" asp-action="List">Budget</a>
                        </li>
                        @* <li> *@
                        @*     <a class="nav-link text-dark" asp-controller="Transaction" asp-action="Add">Ajouter une Transaction</a> *@
                        @* </li> *@
                        }
                    </ul>
                    <form method="get" asp-page="/Back-Office/Account/Logout" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Déconnexion</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Gestion budget
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>