@page
@using gestion_budget.Services
@inject UserService UserService

@{
    var userName = UserService.GetUserName();
}
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @userName !</h1>
</div>
